USE [SaGoFit+]
GO
/****** Object:  StoredProcedure [dbo].[POST_ID_AUTO]    Script Date: 12/9/2016 10:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[POST_ID_AUTO]
@IDPOST VARCHAR(10) OUTPUT
AS
BEGIN
	DECLARE @MA varchar(10), @NAM VARCHAR(2), @THANG VARCHAR(2)
	SET @NAM = RIGHT(CONVERT(VARCHAR(4), YEAR(GETDATE())),2)
	SET @THANG = RIGHT('0'+ CONVERT(VARCHAR(2), MONTH(GETDATE())), 2)

	IF (SELECT COUNT([ID_POST]) FROM POST) = 0
		SET @MA = '0'
	ELSE
		SELECT @MA = MAX(RIGHT([ID_POST], 4)) FROM POST
		SELECT @MA = CASE
			WHEN @MA >= 0 and @MA <= 9 THEN 'PO' + @NAM+ @THANG+ '000' + CONVERT(CHAR, CONVERT(INT, @MA) + 1)
			WHEN @MA > 9 THEN 'PO' + @NAM+ @THANG+ '00'+ CONVERT(CHAR, CONVERT(INT, @MA) + 1)
			WHEN @MA > 99 THEN 'PO'+ @NAM+ @THANG+ '0'+ CONVERT(CHAR, CONVERT(INT, @MA) + 1)
	END
END
