
@{
    ViewBag.Title = "404 Not Found - SaGoFit+";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->



<div class="wrapper">

    <div class="mainWrapper">
        <div class="leftHolder">
            <div class="errorNumber">404</div>
        </div>
        <div class="rightHolder">
            <div class="message"><p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p></div>
            <div class="robotik"><img src="@Url.Content("~/Image/Error/")robotik.png" alt="Oooops....we can’t find that page." title="Oooops....we can’t find that page." id="robot"></div>
            <div class="tryToMessage">
                Try to:
                <ul>
                    <li>Use the search form</li>
                    <li>Visit the <a href="#" title="SaGoFit+ Sitemap">Sitemap</a></li>
                    <li>Go <a href="~/Views/Home/Index.cshtml" title="Back">Home</a></li>
                </ul>
            </div>
            <!-- Search Form -->
            <div class="search">
                <span class="errorSearch">Please fill the search field</span>
                <form action="" method="post">
                    <div class="searchInput">
                        <input type="text" name="search_term" value="Search" />
                    </div>
                    <div class="searchButton">
                        <input type="submit" name="submit" value="Go" />
                    </div>

                </form>
            </div>
            <!-- end .search -->
        </div>
    </div>
</div>
<br /><br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br /><br />
<br />